* {
    margin-left: 0;
    padding: 0;
    font-family: "averta cy w10";
    box-sizing: border-box;
}

*::selection {
    color: #ffff;
    background-color: #000;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    background-color: #fffefe;
}

#home {
    width: 100%;
    min-height: 100vh;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}

#nav img {
    width: 100px;
}

#nav #right {
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a {
    text-decoration: none;
    font-weight: 400;
    color: #000;
    font-size: 1vw;
    letter-spacing: -1px;
}

#nav i {
    margin-top: 3px;
    font-size: 20px;
}

#home #homemain {
    width: 100%;
    padding: 15vw 15vw;
    
}

#homemain h1 {
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing:-.1vw ;
}

.headings {
    display: flex;
    gap: 40px;
}

#homemain .headings h1 {
    color: transparent;
    -webkit-text-stroke: 1px black;
    font-size: 7vw;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -8px; 
}

#homemain .headings h1:hover{
    color: #000;
}

#homelast{
    padding: 5vw 15vw;
}

#homelast p{
    width: 70%;
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: -.08vw;
}

#featured{
    padding: 10vw 15vw;
    font-size: 4vw;
    font-weight: 400;
}

.fheading > h1 {
    margin: 0;
    line-height: .8;     
    font-size: 4vw;
    font-weight: 400;
}

.fheading > h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px black;
}


#fimages {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    height: 100vh; 
    margin-top: 5vw;
    padding: 0 15vw; 
    box-sizing: border-box;
}

#fleft {
    overflow: hidden;
    width: 45%;
    height: inherit;
  
}

.fleftelm{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.fleftelm h1{
    font-size: 2vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.fleftelm h3{
    font-size: 1.3vw;
    font-weight:400;
}


.fleftelm h4{
    opacity: .5;
}

#fright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: inherit;
    
}
 
#fright .images{
    width: 90%;
    height: 90%;
    

   

}

#fright .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btndiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btndiv button{
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    border: 2px solid rgb(227, 219, 219);
    background-color: #fff;
    font-size:1vw ;
    font-weight: 500;
    letter-spacing: -1px;
}

#dev{
    width: 100%;
    padding: 5vw 15vw;
    
   
    
}

#dev h1,p{
    margin-left: 15vw;
}

#dev h1{
    font-size: 3.8vw;
    font-weight: 400;
    line-height: 1;
}

#dev p{
    font-size: 1.5vw;
    letter-spacing: -.5px;
}

#slides {
   display: flex;
   padding: 3vw 10vw;
   justify-content: space-between;

}

.slide{
    width: 30%;
}

.slide .img{
    width: 100%;
    height: 270px;
    background-color:yellowgreen;
    border-radius: 5px;
    overflow: hidden;
}

.slide .img img{
    width: 100%;
    height:100%;
    object-fit: cover;

}

.slide .tag{
    padding: 10px 22px;
    width: fit-content;
    border-radius: 100px;
    background-color: #fbfbfb;
    margin: 20px 0;

}

.slide h3{
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -.5px;
}

/* -------------------- FOOTER -------------------- */

#footer {
    background: #111;
    color: #fff;
    padding: 80px 10vw 40px;
    margin-top: 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;  
}

.footer-left h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-left p {
    font-size: 1rem;
    opacity: 0.7;
    line-height: 1.6;
    margin: 0; 
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #fff;
    font-size: 1.3rem;
    margin-right: 15px;
    transition: 0.3s;
}

.social-links a:hover {
    opacity: 0.5;
}

.footer-right {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.footer-col a {
    display: block;
    color: #ccc;
    margin-bottom: 10px;
    font-size: 0.95rem;
    transition: 0.3s;
}

.footer-col a:hover {
    color: #fff;
}


.footer-bottom {
    text-align:auto;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.footer-bottom p {
    opacity: 0.6;
}

#footer a {
    text-decoration: none !important;
}


/* -------------------- MOBILE RESPONSIVE -------------------- */

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 40px;
    }

    .footer-left,
    .footer-right {
        width: 100%;
    }

    .footer-right {
        flex-direction: column;
        gap: 30px;
    }
}
