* {
    margin: 0;
    padding: 0;
    font-family: "averta cy w10";
    box-sizing: border-box;
}

*::selection {
    color: #ffff;
    background-color: #000;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    background-color: #fff;
}

#home {
    width: 100%;
    min-height: 100vh;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}

#nav img {
    width: 100px;
}

#nav #right {
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a {
    text-decoration: none;
    font-weight: 400;
    color: #000;
    font-size: 1vw;
    letter-spacing: -1px;
}

#nav i {
    margin-top: 3px;
    font-size: 20px;
}

#home #homemain {
    width: 100%;
    padding: 15vw 15vw;
    
}

#homemain h1 {
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing:-.1vw ;
}

.headings {
    display: flex;
    gap: 40px;
}

#homemain .headings h1 {
    color: transparent;
    -webkit-text-stroke: 1px black;
    font-size: 7vw;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -8px; 
}

#homelast{
    padding: 5vw 15vw;
}

#homelast p{
    width: 70%;
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: -.08vw;
}

#featured{
    padding: 10vw 15vw;
    font-size: 4vw;
    font-weight: 400;
}

#featured h1{
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}

#featured h1:nth-last-child(2){
    color: transparent;
    -webkit-text-stroke: 1px black;
}

#fimages {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    min-height: 100vh; 
    margin-top: 5vw;
    padding: 0 15vw; 
    box-sizing: border-box;
}

#fleft {
    width: 45%;
    min-height: inherit;
    border: 1px solid blue;
}

#fright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    min-height: inherit;
    
}
 
#fright .images{
    width: 90%;
    height: 80%;
    background-color: red;

}